__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
pip-build-tracker-*/
pip-ephem-wheel-cache-*/
pip-install-*/
build/
dist/
*.egg-info/
~$*
*.log
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

